body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(white, maroon);
  background-color: white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}


h1 {
  background-color: maroon;
  color: white;
  font-size: 200%;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 40px;
  border-bottom: 4px solid black;
  box-sizing: border-box;
  height: 75px;
  width: 100%;
}


div.index {
  background-color: grey;
  color: white;
  font-size: 110%;
  padding-top: 18px;
  padding-bottom: 30px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  height: 55px;
  width: 100%;
}

a.navbar:link, a.navbar:active, a.navbar:visited {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

 a.navbar:hover {
   background-color: black;
   padding-top: 20px;
   padding-bottom: 18px;
   padding-left: 10px;
   padding-right: 10px;
 }
