body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  background-color: maroon;
  color: white;
  font-size: 200%;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 40px;
  box-sizing: border-box;
  height: 75px;
  width: 100%;
}

div.index {
  background-color: grey;
  color: white;
  font-size: 110%;
  padding-top: 17px;
  padding-bottom: 30px;
  padding-right: 20px;
  text-align: right;
  box-sizing: border-box;
  height: 55px;
  width: 100%;
}


nav {
  background-color: grey;
  color: white;
  font-size: 110%;
  text-align: right;
  padding-top: 83px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: auto;
}

a.navbar:link, a.navbar:hover, a.navbar:active, a.navbar:visited {
  color: white;
  margin: 5px;
}
